<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="quote_cart" frontName="quote/cart">
            <module name="Gelmar_QuoteGenerator" />
        </route>
        <route id="quote" frontName="quote">
            <module name="Gelmar_QuoteGenerator" />
        </route>
        <route id="quotegenerator" frontName="quotegenerator">
            <module name="Gelmar_QuoteGenerator" />
        </route>
    </router>
</config>
